.carousel-indicator {
  bottom: auto;
  top: 16px;
}

.breed-details {
  padding: 16px;
}

.breed-name {
  font-variant: small-caps;
  text-align: center;
}

.variant-name {
  text-transform: uppercase;
  text-align: center;
}

.divider {
  height: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.25);
  margin: 16px 25%;
}

.section-name {
  font-variant: small-caps;
  font-weight: 400;
  text-align: center;
}

.podcast-episode {
  background-color: #ffdd9a;
  padding: 16px 24px;
  cursor: pointer;
}

.podcast-episode + .podcast-episode {
  margin-top: 8px;
}

.podcast-episode:hover {
  background-color: #EEA13B;
}

.podcast-episode-icon {
  width: 24px;
  height: 24px
}

.podcast-episode-title {
  font-weight: 400;
}

.podcast-episode-time {
  font-weight: 300;
  font-size: 12px;
  margin-top: 8px;
}

.podcast-episode-time-value {
  white-space: nowrap;
}

.podcast-episode-category {
  font-weight: 300;
  font-variant: small-caps;
  font-size: 12px;
}

.podcast-episode-type {
  font-weight: 300;
}

.further-readings {
  margin-top: 8px;
}

.further-reading-icon {
  width: auto;
  padding: 8px;
  border-width: 0.5px
}

.further-reading-icon + .further-reading-icon {
  margin-left: 8px;
}
